body {
	margin : 0;
	padding : 0;
	font : 75% "Trebuchet MS", arial, helvetica, sans-serif;
	color : #666;
	background : #fff;
}
/*TOP BANNER*/
#wrapper { width:760px; margin:0 auto; padding:0; }

#header { position:relative; width:100%; height:70px; }
#header .logo { float:left; }
#headinfo { position:absolute; right:15px; top:7px;}
#headinfo a { font-size: 10px; color:#000000; }
#headinfo a:hover { text-decoration:underline; }

.logotext { position:absolute; left:30px; font-family:Trebuchet MS; font-size:22px; }
.logotext strong { color:#015990; }
.logotext2 { font-size:14px; }

#gutter {
	float : left;
	width : 100%;
	height : 1px;
	background-color : #006699;
}
#col1 {
	float : left;
	width : 20%;
	margin-bottom : 1em;
	padding-right : 3%;
}

#col2 {
	float : left;
	width : 40%;
	margin-left : 3%;
	margin-bottom : 1em;
	border-right : 1px solid #eee;
	border-left: 1px solid #eee;
	padding-right : 3%;
}
#col3 {
	float : left;
	width : 20%;
	margin-left : 3%;
	margin-bottom : 1em;
}
/*TOP NAV*/
#navcontainer ul {
	margin-top : 10px;
	list-style-type : none;
	background : #fff;
	color : #666;
}
#navcontainer ul li a {
	padding : 20px;
	color : #666;
	background : transparent url(../images/list-off.gif) no-repeat left center;
	text-align : left;
	font : normal 1.2em "Trebuchet MS", "Lucida Grande", verdana, "Lucida Sans Unicode", lucida, sans-serif;
	text-decoration : none;
}

/*FOOTER*/
#footer {
	clear : both;
	height : 100px;
	border-top : 5px solid #015990;
	padding : 5px;
	text-align : center;
	background : transparent url(../images/footer.jpg) no-repeat top center;
	color : #000;
}
/*TYPOGRAPHY*/
h1 {
	margin : 0;
	padding : 1.5em 0 0 0.5em;
	text-transform : uppercase;
	font-size : 1.5em;
	letter-spacing : 3px;
	color : #015990;
	background : transparent;
}
h2 {
	margin : 0;
	padding : 5px;
	text-transform : uppercase;
	font-size : 1.4em;
	letter-spacing : 3px;
	color : #015990;
	background : inherit;
}
/*LINKS*/
a {
	text-decoration : none;
	color : #006699;
	background-color : inherit;
}

h3 {
	text-align: center;
	color: #015990;
}

a img {
	border : 0;
}
/*CLASS*/
.imgleft {
	float : left;
	padding-right : 10px;
	margin : 0;
}
.links {
	font-size : 1.4em;
	text-transform : uppercase;
	letter-spacing : 3px;
	padding : 5px;
	margin-bottom : 10px;
	color : #286ea0;
	border-bottom : 1px solid #eee;
}

.league-table {
	width: 700px;
}

table {
	margin: auto;
}

table td {
	text-align: center;
}

select {
	margin: 5px;
	width: 150px;

	color : #015990;
	background : transparent;
}

.teamColumn {
	width: 200px;
}

#leagueInfo option {
	width: 150px;
}

[data-clickable-team] {
	cursor: pointer;
}

[data-clickable-team]:hover {
	background-color: #ffd090;
}

#league-filters {
	margin-left: 30%;
	margin-right: 30%;
}